.is-abel {
  font-family: "Abel", sans-serif;
}

.container {
  margin-top: 3%;
  width: 80%;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
}

.page {
  &__wrapper {
    margin-bottom: 5vh;
    text-align: center;
  }
  &__link {
    display: inline-block;
    margin-right: 4px;
    color: $primary-color;
    font-size: 0.9rem;
    &.active {
      position: relative;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: $secondary-color;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $primary-color;
      border: 1px solid $secondary-color;
      margin: 0 8px;
      &::before {
        content: "";
        position: absolute;
        background-color: $primary-color;
        top: -10%;
        left: -10%;
        width: 120%;
        height: 120%;
        z-index: -1;
        border-radius: 50%;
      }
    }
  }
}
